@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ede6d6;
  --foreground: #1b2438;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-crimson), Georgia, serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
